* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background: #090a0c;
    color: #f2f4f7;

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
}

.container {
    width: min(700px, calc(100% - 30px));

    margin: auto;

    padding: 50px 0;
}

h1 {
    font-size: 45px;
    line-height: 1;

    margin-bottom: 10px;
}

.subtitle {
    color: #9ca3af;
    line-height: 1.6;
}

.calculator,
.result {
    margin-top: 25px;

    padding: 25px;

    background: #111317;

    border: 1px solid #292d35;

    border-radius: 20px;
}

.calculator {
    display: grid;

    gap: 12px;
}

label {
    color: #aeb4bd;

    font-size: 14px;
}

input,
select {

    width: 100%;

    padding: 14px;

    border-radius: 12px;

    border: 1px solid #292d35;

    background: #090a0c;

    color: white;

    font-size: 16px;
}

button {

    margin-top: 10px;

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: #8ee6a8;

    color: #071009;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    filter: brightness(1.08);
}

.result h2 {

    font-size: 70px;

    margin: 5px 0 15px;

    letter-spacing: -3px;
}

.result > p {
    color: #9ca3af;
}

.stats {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;

    margin-top: 25px;
}

.stats div {

    padding: 15px;

    border: 1px solid #292d35;

    border-radius: 12px;
}

.stats small {

    display: block;

    color: #8d949e;

    margin-bottom: 5px;
}

.stats strong {

    font-size: 23px;
}

.warning {

    margin-top: 20px;

    padding: 15px;

    border-left: 3px solid #777;

    color: #aeb4bd;

    line-height: 1.6;

    font-size: 13px;
}

.hidden {
    display: none;
}


@media (max-width: 500px) {

    .container {
        padding-top: 30px;
    }

    h1 {
        font-size: 38px;
    }

    .result h2 {
        font-size: 55px;
    }

    .stats {
        grid-template-columns: 1fr;
    }
}